<!DOCTYPE html>
<html>
  <head>
    <title>CrispyOcto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="font-family: Helvetica;">
    <div style="float: right;">
      <%= link_to "Admin panel", admin_root_path %>
    </div>
    <h1>
      <%= link_to "AwesomeBlog", root_path %>
    </h1>

    <%= yield %>
  </body>
</html>
